extends baseEmail

block content
  p Hi #{firstName},
    p Forgot your password? Reset now? Sebmit an patch request with your new password and confirm your password to : #{url}.
    p (Website soon gonna implement this feature)
    table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
      tbody
        tr
          td(align='left')
            table(role='presentation', border='0', cellpadding='0', cellspacing='0')
              tbody
                tr
                  td
                    a(href=`${url}`, target='_blank') Reset Your Password
    p If you didn't forget your password, please ignore this email
    p - Arka Sheikh, CEO
